{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hola, paciente</h1>
  <p class="lead">Bienvenido al sistema dental NawiDent.</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/patientsignup" role="button">Registrar</a>
    <a class="btn btn-success btn-lg" href="/patientlogin" role="button">Acceder</a>
  </p>
</div>

{% endblock content %}
